pyautogui
keyboard
requests  # For API calls to models
openai  # If using OpenAI's models
ollama  # If using Ollama's models
langchain
langchain_community
langchain-ollama
langchain_groq
opencv-python
